.about {
  margin-top: 3rem;
  p {
    color: $primary;
    font-size: 1rem;
  }

  h2 {
    font-size: 270%;
    color: $primary;
    margin-top: -0.3rem;
    margin-bottom: 0;
  }
}

p {
  .list_icon {
    margin-top: -0.04rem;
    width: 20px;
    fill: $primary;
  }
}

@media only screen and (max-width: 768px) {
  .about {
    margin-top: 0.5rem;
  }
}
