@import "_mixins.scss";
@import "_variables.scss";
@import "about.scss";
@import "contact.scss";
@import "index.scss";
@import "navigation.scss";
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Open+Sans:wght@400;600;700&display=swap");

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;

  main {
    flex-grow: 1;
    @include bottom_grad;

    h1 {
      font-weight: 700;
    }

    h2 {
      font-weight: 600;
      color: $primary;
    }
  }
}

.wrap {
  max-width: 1440px;
  margin: auto;
}

.insta_icon_link {
  width: 35px;
}

.spacer {
  margin-top: 10rem;
  width: 100%;
}

footer {
  background: $primary;
  border-top: 3px solid $highlight;
  color: $alt;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;

  .footer_txt {
    margin: 3.5rem auto 5.5rem auto;
    a {
      color: $highlight;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
