.nav_wrap {
  background: $alt;
  border-bottom: 3px inset $highlight;
  nav.navbar {
    background-color: $alt;
    max-width: 1440px;
    margin: auto;
    // font-family: "Didact Gothic", sans-serif;
    letter-spacing: 0.02rem;

    .navbar_brand {
      display: block;
      margin: auto;
      width: 150px;
    }

    .navbar-collapse {
      .navbar-nav {
        .nav-link {
          font-weight: 700;
          font-size: 1.5rem;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
