.nav_wrap {
  z-index: 1;
  position: fixed;
  background: $alt_opac;
  width: 100%;
  height: 150px;

  nav.navbar {
    background-color: none;
    max-width: 1440px;
    margin: auto;
    letter-spacing: 0.02rem;

    .navbar_brand {
      display: block;
      margin: auto;
      width: 130px;
    }

    .navbar-collapse {
      .navbar-nav {
        .nav-link {
          font-weight: 700;
          font-size: 1.5rem;
          color: darken($color: $alt, $amount: 45%);

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
