.nav_wrap {
  z-index: 1;
  position: fixed;
  background: $alt_opac;
  width: 100%;
  height: 130px;

  nav.navbar {
    background-color: none;
    max-width: 1440px;
    margin: auto;
    letter-spacing: 0.02rem;

    button.navbar-toggler {
      border: 1px solid $primary;
      &:active,
      &:focus {
        outline-color: $primary;
      }

      .icon {
        width: 32px;
        fill: $primary;
      }
    }

    .navbar_brand {
      display: block;
      margin: auto;
      width: 105px;
    }

    .navbar-collapse {
      .navbar-nav {
        .nav-link {
          font-weight: 700;
          font-size: 1.5rem;
          color: darken($color: $alt, $amount: 45%);

          .ebay_icon {
            width: 60px;
            margin-top: -0.3rem;
            fill: darken($color: $alt, $amount: 45%);

            &:hover {
              .color0 {
                fill: #e53238;
              }

              .color1 {
                fill: #0064d2;
              }

              .color2 {
                fill: #f5af02;
              }

              .color3 {
                fill: #86b817;
              }
            }
          }

          .nav_icon {
            width: 30px;
            margin-top: -0.3rem;
            fill: darken($color: $alt, $amount: 45%);
          }

          &:hover {
            color: $primary;

            .nav_icon {
              fill: $primary;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav_wrap {
    height: 115px;
    nav.navbar {
      background-color: $alt_opac;

      .navbar_brand {
        width: 90px;
      }
    }
  }

  .hero_img {
    margin-top: 115px;
  }
}
